---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Main from "../../components/Main.astro";
import { getCollection, render } from "astro:content";
import H1 from "../../components/H1.astro";
import NavLink from "../../components/NavLink.astro";
import { Image } from "astro:assets";

//Getting the paths to the posts (value defined in Astro.props)
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
//Declaring values from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout title={post.data.title} description={post.data.description}>
  <Main>
    <div class="text-neutral-200 dark:text-neutral-600 text-2xl mb-16">
      <NavLink path="/blog" title="Back to all Blog posts." />
    </div>
    <article class="mx-auto">
      <div>
        <Image
          src={post.data.cover}
          width={1200}
          height={800}
          class="w-full min-h-48 rounded-lg shadow-xl"
          alt={post.data.description}
        />
      </div>
      <div class="prose prose-xl dark:prose-invert dark:text-neutral-200 p-4">
        <H1 title={post.data.title} />
        <Content />
      </div>
    </article>
  </Main>
</BlogLayout>
