---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<div
  class="bg-opacity-60 bg-slate-100 container mx-auto max-w-[600px] rounded-md"
  id={post.id}
>
  <div class="flex flex-column p-6">
    <!--Cover Image-->
    <Image
      src={post.data.cover}
      width={600}
      height={600}
      alt={post.data.coverAlt}
      class="rounded-xl w-full h-full"
    />
  </div>
  <!--Text Aspect-->
  <h2>{post.data.title}</h2>
  <p class="description">{post.data.description}</p>
  <div class="post-footer">
    <p class="post-date">{post.data.pubDate}</p>
    <div class="post-tags">
      {post.data.tags.map((tag) => <span class="tag">{tag}</span>)}
    </div>
  </div>
</div>

<!--
Notes:
Card Background: opacity-60

-->
