---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<div
  class="bg-gradient-to-r from-orange-500/50 via-purple-500/50 to-pink-500/50 rounded-xl overflow-hidden shadow-lg transition-transform transform hover:scale-[1.02] duration-300 p-6 w-full h-full"
  id={post.id}
>
  <!--Cover Image-->
  <div class="w-full h-[350px] sm:h-[350px] overflow-hidden rounded-xl">
    <!--Cover Image-->
    <Image
      src={post.data.cover}
      width={600}
      height={600}
      alt={post.data.coverAlt}
      class="w-full h-full object-cover"
    />
  </div>

  <!--Text Content-->
  <div class="p-4">
    <h2
      class="font-bold text-3xl dark:text-neutral-100 text-neutral-900 mb-3 transition-colors duration-300"
    >
      {post.data.title}
    </h2>
    <p class="dark:text-white text-neutral-800 font-semibold text-lg mb-4">
      {post.data.description}
    </p>
    <div class="">
      <p class="text-sm font-extralight text-neutral-800 dark:text-white mb-2">
        <FormattedDate date={post.data.pubDate} />
      </p>

      <!--Footer and Tags-->
      <div class="flex flex-wrap gap-2 pt-2">
        {
          post.data.tags.map((tag) => (
            <span class="tag bg-indigo-800 text-white px-3 py-1 rounded-full font-medium text-xs mb-1">
              {tag}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</div>
